<div x-data="{isMoreOpen<%= i %>: false}">
  <button class="circle transparent btn-ignore absolute top-margin right" style="z-index: 12121" @click="isMoreOpen<%= i %>">
    <i class="material-icons">more_vert</i>
    <menu x-bind:class="isMoreOpen<%= i %>" style="z-index: 1000" class="no-wrap left absolute">
      <li hx-get="/api/components/modaledit/<%= element.id %>" hx-target="#div-modalEdit" hx-swap="innerHTML" hx-indicator="#indicator-bar" @click="$nextTick(() => { isModalEdit = true; activeModalTab = 'list'; })">
        <i>edit</i>
        <div class="max">
          <div>Edit</div>
        </div>
      </li>
      <li hx-get="/api/components/modalconfirm/<%= element.id %>" hx-target="#modalConfirm" hx-swap="outerHTML" hx-indicator="#indicator-bar" @click="$nextTick(() => { setTimeout(() => { isModalConfirm = true; activeModalTab = 'list'; }, 500); })">

        <i>delete</i>
        <div class="max">
          <div>Delete</div>
        </div>
      </li>
    </menu>
  </button>
</div>
<div class="task-header bottom-margin" @mouseover="dragIndicator = true" @mouseout="dragIndicator = false">
  <div class="task-drag-indicator absolute top center" x-bind:class="dragIndicator? 'active' : ''"></div>

  <h6 class="task-title truncateLists no-margin max">
    <%= element.name %>
  </h6>
  <span class="no-margin grey-text truncateLists">
    <%= element.description %>
  </span>
</div>
<div class="task-body">
  <div class="task-content">
    <ul class="list no-space">
      <hr>
      <% if (element.tasks.length > 0) { %> <% element.tasks.forEach(task =>
          { %>
      <li class="no-padding task-title" id="li-<%= task.id %>">
        <header class="no-padding task-body">
          <nav x-data="{ checked: <%= task.isCompleted %> }" style="gap: 0.3rem; margin-right: 0.4rem;" class="no-space">
            <label class="checkbox left-margin">
              <input type="checkbox" name="isCompleted" <%= task.isCompleted ? "checked" : "" %> hx-put="/api/tasks/toggle/<%= task.id %>" hx-vals='js:{ "isCompleted": event.target.checked }' hx-trigger="change" hx-target="#li-<%= task.id %>" hx-swap="innerHTML" />
              <span></span>
            </label>

            <span class="small-line max tiny-margin " :class="{ 'overline': checked }"><%= task.title %></span>

            <button class="circle transparent" hx-get="/api/components/modaledit/<%= element.id %>/<%= task.id %>" hx-target="#div-modalEdit" hx-swap="innerHTML" hx-indicator="#indicator-bar" @click="$nextTick(() => { isModalEdit = true; activeModalTab = 'task'; })">
              <i>edit_square</i>
            </button>
            <button class="circle transparent">
              <i>delete</i>
            </button>
          </nav>
        </header>

      </li>
      <hr>
      <% }); %> <% } else { %>
      <li><em>No tasks yet.</em></li>
      <% } %>
      <li class="no-padding task-title">

        <nav style="gap: 0.3rem; margin-right: 0.45rem;" class="no-space task-body">
          <button class="transparent primary-text">
            <i>add_task</i>
            <span>Add Task</span>
          </button>
        </nav>

      </li>
    </ul>
  </div>
</div>