<div id="snackbars"><%- include('components/snackbars') %></div>
<% if (user) { %>
<div id="modal"><%- include('components/modal_add') %></div>
<% } %>
<header class="surface-container-high fixed" id="header-top">
  <!-- place navbar here -->
  <%- include('components/navbar_top') %>
</header>
<progress
  id="indicator-bar"
  class="no-margin no-round htmx-indicator"
></progress>
<div class="all-container surface-container-high fixed">
  <!-- Navbar -->
  <% if (user) { %> <%- include('components/navbar_leftside') %> <% } %>

  <!-- Konten Utama -->
  <main x-bind:class="{ 'active': isMenuOpen }">
    <div x-transition="" id="res"><%- include(vContent) %></div>
  </main>
</div>
