<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <link
      rel="preload"
      href="/libs/UcCO3FwrK3iLTeHuS_nVMrMxCp50qjIw2boKoduKmMEVuI6fMZg.ttf"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      onload="this.rel='stylesheet'"
    />

    <link rel="stylesheet" href="stylesheets/style.css" />

  </head>

  <div id="snackbars "><%- include('components/snackbars') %></div>

  <body class="background">
    <div
      x-data="{ isMenuOpen: false , isMoreOpen: false, isLoginOpen: false}"
      @click.away="isMenuOpen= false"
    >
      <header class="surface-container-high fixed" id="header-top">
        <!-- place navbar here -->
        <%- include('components/navbar_top') %> <%-
        include('components/loading') %>
      </header>
      <progress
        id="indicator-bar"
        class="no-margin no-round htmx-indicator"
      ></progress>
      <div class="all-container surface-container-high fixed">
        <!-- Navbar -->
        <%- include('components/navbar_leftside') %>

        <!-- Konten Utama -->
        <main @click="isMenuOpen = false" :class="isMenuOpen ? 'active' : ''">
          <div x-transition="" id="res"><%- include(vContent) %></div>
        </main>
      </div>
    </div>
    <%- include('libs/scripts') %>
  </body>
</html>
