<dialog id="modalAddTask" class="modal" :class="`${isModalAddTask ? (isMobile ? 'top' : 'active') : ''} modal`">
  <button @click="isModalAddTask = false" hx-trigger="click" hx-target="#modalAddTask" hx-swap="delete settle: 333ms" hx-get="/api/components/modalAddTask/<%= lists    .id %>" type="reset" class="transparent circle large fixed right top">
    <i class="large">close</i>
  </button>
  <div style="margin-right: 2rem">
    <!-- Tab Navigation -->
    <nav class="tabbed small grey8" x-data="{disableTaskTab: true }">
      <a :class="{ 'active ': activeModalTab === 'list', 'grey8': activeModalTab === 'task'}" @click="activeModalTab === 'list' ? activeModalTab = 'list' : 'task'">
        <i>playlist_add</i>
        <span>Add List</span>
      </a>

      <a :class="{ 'active ': activeModalTab === 'task', 'grey8': activeModalTab === 'list'}" @click="activeModalTab === 'task' ? activeModalTab = 'task' : 'list'">
        <i>add_task</i>
        <span>Add Task</span>
      </a>
    </nav>



    <!-- Add List Form -->
    <div class="page padding" x-bind:class="{ 'active': activeModalTab === 'list' }">
      <h5>Add List</h5>
      <form id="listForm">
        <div class="field label prefix border">
          <i>title</i>
          <input type="text" id="listName" name="listName" required value="<%= lists.name %>" />
          <label>Name</label>
        </div>

        <div class="field label prefix border textarea">
          <i>description</i>
          <textarea id="listDescription" name="listDescription"><%= lists.description %></textarea>
          <label>Description</label>
        </div>

        <footer class="fixed no-padding">
          <nav class="right-align no-space no-padding">
            <button class="transparent link" @click="$nextTick(() => isModalAddTask = false)" hx-trigger="click" hx-target="#modalAddTask" hx-swap="delete settle: 333ms" hx-get="/api/components/modalAddTask/<%= lists.id %>" type="reset">
              Cancel
            </button>
            <button class="transparent link" type="submit" hx-post="/api/lists/<%= lists.id %>" hx-target="#root" hx-indicator="#indicator-bar" hx-swap="innerHTML settle: 333ms" @click="$nextTick(() => isModalAddTask = false)">
              Confirm
            </button>
          </nav>
        </footer>
      </form>
    </div>

    <!-- Add Task Form -->
    <div class="page padding" x-bind:class="{ 'active': activeModalTab === 'task' }">
      <h5>Add Task</h5>
      <form id="taskForm">
        <div class="field label prefix border">
          <i>title</i>
          <input type="text" id="taskName" name="taskName" required />
          <label>Title</label>
        </div>

        <div x-data="{ isSelectListOpen: false }" class="field label prefix border medium">
          <i>checklist</i>
          <select x-on:focus="isSelectListOpen = true" x-on:blur="isSelectListOpen = false" id="listSelect" name="listId" required>

            <option value="<%= lists.id %>" selected><%= lists.name %></option>

          </select>
          <label>List</label>
          <i x-transition.duration.100ms x-text="isSelectListOpen ? 'arrow_drop_down' : 'arrow_drop_up'">
            arrow_drop_up
          </i>
        </div>

        <fieldset>
          <legend>Due Time</legend>
          <nav>

            <div class="field label prefix border">
              <i>calendar_month</i>
              <input type="date" name="taskDate" required />
              <label>Date</label>
            </div>
            <div class="field label prefix border">
              <i>schedule</i>
              <input type="time" name="taskTime" step="60" required />
              <label>Time</label>
            </div>
          </nav>
        </fieldset>

        <footer class="fixed no-padding">
          <nav class="right-align no-space no-padding">
            <button class="transparent link" @click="$nextTick(() => isModalAddTask = false)" hx-trigger="click" hx-target="#modalAddTask" hx-swap="delete settle: 333ms" hx-get="/api/components/modalAddTask/<%= lists.id %>" type="reset">
              Cancel
            </button>
            <button class="transparent link" type="submit" hx-post="/api/tasks" hx-target="#root" hx-indicator="#indicator-bar" hx-swap="innerHTML settle: 333ms" @click="$nextTick(() => isModalAddTask = false)">
              Confirm
            </button>
          </nav>
        </footer>
      </form>
    </div>
  </div>

  <!-- Footer -->
</dialog>