<nav
  class="drawer surface-bright small-round"
  x-bind:class="isMenuOpen ? 'active' : ''"
  x-data="{activeMenuTab: 'list' }"
  id="nav-main-menu"
>
  <header>
    <nav>
      <h5 class="max" translate="no">Main Menu</h5>
      <button @click="isMenuOpen = false" class="transparent circle large">
        <i class="large">close</i>
      </button>
    </nav>
  </header>
  <nav>
    <button @click="isModalAdd= true" class="extra fill">
      <i>add</i>
      <span>Create</span>
    </button>
  </nav>
  <br />
  <nav class="drawer no-padding" id="nav-main-content">
    <a
      hx-get="/api/components/home"
      hx-target="#res"
      hx-indicator="#indicator-bar"
      :class="{ 'primary': activeMenuTab === 'list' }"
      @click="activeMenuTab = 'list'"
    >
      <i>checklist</i>
      <span>All List</span>
    </a>

    <a
      hx-get="/api/components/trash"
      hx-target="#res"
      hx-indicator="#indicator-bar"
      :class="{ 'primary': activeMenuTab === 'trash' }"
      @click="activeMenuTab = 'trash'"
    >
      <i>delete</i>
      <span>Trash</span>
    </a>
    <hr class="top-margin bottom-margin" />

    <details open>
      <summary>Lists</summary>
      <nav class="drawer no-padding no-margin" id="nav-main-content-tasks">
        <% var i=0; lists.forEach(element => { i++; %>

        <a
          hx-get="/api/components/task/<%= element.id %>"
          hx-target="#res"
          hx-indicator="#indicator-bar"
          :class="{ 'primary': activeMenuTab === 'trash-<%= element.id %>' }"
          @click="activeMenuTab = 'trash-<%= element.id %>'"
        >
          <i>task_alt</i>
          <div class="max"><%= element.name %></div>
          <b><%= element.taskCount %></b>
        </a>
        <% }) %>
      </nav>
    </details>
  </nav>
</nav>
